{{ define "main" }}
<div class="container">
  <div class="row">
    <!-- Contenu principal de la page -->
    <div class="col-md-12"><h1>{{ .Title }}</h1></div>
    {{ with .Params.objectifs }}
    <div class="Objectif">
        <strong>Objectifs:</strong>
        <ul>
            {{ range . }}
            <li><em>{{ . }}</em></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    
    <div class="col-md-12">{{ .Content }}</div>
    <!-- Boucle sur les pages directes de la section actuelle -->
    <div class="col-md-12 my-2">  <hr /> </div>

    {{ range .Pages }}
    <div class="col-md-6">
      <a
        href="{{ .Permalink }}"
        class="card mb-4 text-decoration-none"
        style="color: inherit; position: relative;"
      >
        <div class="card-body">
          <h5 class="card-title">{{ .Title }}</h5>
          <p class="card-text">{{ .Params.description }}</p>
          <!-- Ajout de la flèche -->
          <div style="position: absolute; bottom: 10px; right: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.828 3.172a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 1 1-.707-.707L14.293 8 10.12 3.828a.5.5 0 0 1 0-.707z"/>
              <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
        </div>
      </a>
    </div>
    {{ end }}

  </div>
</div>
{{ end }}
