/* Importation des polices */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* General Layout
========================================================================== */
:root {
  --SpacingSpacing-xxs: 4px;  /* Très petit espace */
  --SpacingSpacing-xs: 8px;   /* Petit espace */
  --SpacingSpacing-sm: 10px;  /* Petit-moyen espace */
  --SpacingSpacing-s: 12px;   /* Espace moyen */
  --SpacingSpacing-m: 16px;   /* Espace standard */
  --SpacingSpacing-l: 24px;   /* Grand espace */
  --SpacingSpacing-xl: 32px;  /* Très grand espace */
  --SpacingSpacing-xxl: 48px; /* Espace extra large */

  --Radius-xxs: 2px;   /* Très petit rayon */
  --Radius-xs: 4px;    /* Petit rayon */
  --Radius-s: 6px;     /* Rayon moyen */
  --Radius-m: 8px;     /* Rayon standard */
  --Radius-lg: 12px;    /* Grand rayon */
  --Radius-xl: 16px;   /* Très grand rayon */
  --Radius-xxl: 24px;  /* Rayon extra large */
  --Radius-full: 50%;  /* Rayon complet pour des éléments circulaires */
}
@media (min-width: 1200px) {
  .container {
      max-width: 1500px !important;
  }
}
/* ================================================== */
/* Typographie générale */
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  line-height: 1.5;
  color: #383F4F;
}
/* Basique */
h1,h2,h3 {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(21, 26, 34) !important;
}
h1 {
  font-size: 44px !important;
  font-weight: 500 !important;
  line-height: 44px !important;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
h2 {
  padding: 10px 0 !important;
  margin-top: 10px !important;
  line-height: 1.2 !important;
  font-size: 32px !important;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
h3 {
font-size: 24px !important;
font-weight: 600 !important;
line-height: 28.8px !important; 
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
h4 {
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

p {
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
a {
  color: #2E51C8 ;
  text-decoration: none;
}
a:hover {
  color: #2642A5;
  
  text-decoration: none;
}
a:active {
  color: #132560;
}
a:visited {
  color: #132560;
}
a:disabled {
  color: #C0CEFB;
}
/* ================================================== */
/* Styles pour centrer les images */
img {
  border-radius: 10px;
  display: block;
  margin: 25px auto !important;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 100%; 
}

/* ================================================== */
/* Styles pour les video iframe*/
.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* Ratio 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%; /* Assurer que la vidéo prenne toute la largeur */
  background: #000; /* Optionnel : arrière-plan noir */
  margin: 20px auto; /* Centrer la vidéo horizontalement */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ================================================== */
/* Code blocks */
.code-snippet {
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  overflow-x: auto;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  background: #e7edff !important;
  color: #212529 !important;
}

pre {
  background-color: #e7edff !important;
}

pre code a {
  color: #3760ea;
  text-decoration: underline;
}


/* ================================================== */
/* Tableaux */
.table-container {
  overflow-x: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 16px;
}

table th {
  background-color: #3760ea;
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: center;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #e9ecef;
}

table tr:hover {
  background-color: #dae0e5;
}

table td a {
  color: #3760ea;
  text-decoration: underline;
}


/* ================================================== */
/* Boutons */
.book-btn {
  color: white !important;
  text-align: center;
  border: none !important;
  background-color: #151A22;
  font-weight: 400;
  line-height: 140%;
  border-width: 0;
  border-radius: 8px;
  box-shadow: unset;
  padding: var(--SpacingSpacing-xs) var(--SpacingSpacing-s) var(--SpacingSpacing-xs) var(--SpacingSpacing-s);
  gap: var(--SpacingSpacing-xxs);
  border-radius: var(--Radius-s);
  text-decoration: none;
  }

.book-btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 38, 38);
}

.book-btn:disabled {
  opacity: 0.65;
}
.book-btn:hover {
  background: linear-gradient(180deg, #5C5D63 0%, #202024 100%);
  
  text-decoration: none;

}
.book-btn:active {
  background: var(--Neutral-900, #383F4F);
  text-decoration: none;
}
.secondary-btn {
  background: var(--Brand-Blue-500-Main, #3760EA);
}

.secondary-btn:focus {
  box-shadow: 0 0 0 0.25rem #597BEE;
}

.secondary-btn:disabled {
  background: var(--Brand-Blue-100, #C0CEFB);

}
.secondary-btn:hover {
  background: linear-gradient(180deg, #597BEE 0%, #2E51C8 50%);
  text-decoration: none;

}
.secondary-btn:active {
  background: var(--Brand-Blue-600, #2E51C8);
  text-decoration: none;
}
.tertiary-btn {
  background: #FFFFFF;
  border: 1px solid var(--Neutral-White, #FFFFFF);
  color:#465161 !important;
}

.tertiary-btn:focus {
  box-shadow: 0 0 0 0.25rem #597BEE;

}

.tertiary-btn:disabled {
  background: #FFFFFF;
  color: #9EB2F7;
}
.tertiary-btn:hover {
  background: #F5F5FF;
  text-decoration: none;
  border: 1px solid #3760EA !important;
}
.tertiary-btn:active {
  background: var(--Brand-Blue-50, #EEF2FF);
  text-decoration: none;
  border: 1px solid #3760EA !important;
}
/* CARD TAXONOMY */
.card-body {
  top: 16px;
    left: 16px;
    padding: var(--SpacingSpacing-sm);
    gap: var(--SpacingSpacing-lg);
    border-radius: var(--Radius-s);
    background: var(--Neutral-DarkFont-1000, #151A22);
    color: #fff
}
.card-body svg {
  color: #9EB2F7 !important;
}
.card-body .card-title {
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.card-body .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card-body:hover {
  background: linear-gradient(0deg, #383F4F, #383F4F),
linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

}
/* General styling for notice boxes */
.notice {
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}

/* Styles for the icons */
.notice i {
  margin-right: 10px;
  font-size: 20px;
}

/* Info notice style */
.notice.info {
  background-color: #e7edff;
  border-left: 5px solid #3760ea;
  color: #333;
}

.notice.info i {
  color: #3760ea; /* Blue color for info icon */
}

/* Warning notice style */
.notice.warning {
  background-color: #fff5e6;
  border-left: 5px solid #ffa500;
  color: #333;
}

.notice.warning i {
  color: #ffa500; /* Orange color for warning icon */
}

/* Error notice style */
.notice.error {
  background-color: #ffe6e6;
  border-left: 5px solid #ff0000;
  color: #333;
}

.notice.error i {
  color: #ff0000; /* Red color for error icon */
}


/* ================================================== */
/* Menu */
.book-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.book-menu .book-menu-content , .book-toc .book-toc-content {
  width: 16rem;
    padding: 1rem;
    background: var(--body-background);
    position: relative;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.book-menu ul li {
  margin: 5px 0 !important;
}

.book-menu ul li a {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  padding: .375rem .375rem .375rem 1.25rem;
  display: block;
  border-left: 3px solid transparent;
  transition: .3s ease;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #465161;
}

.book-menu ul li a:hover, .book-menu ul li a.active {
  background-color: #E7EDFF;
  color: #3760EA;
}

.book-menu ul li a.active {
  font-weight: bold;
  border-left: 1px solid #3760EA;
}

.book-menu ul li ul {
  margin-left: 20px;
  border-left: 1px solid #ddd;
  padding-left: 0;
}

.book-menu ul li ul li a {
  font-size: 13px;
  padding-left: 5px;
}
.book-menu .book-menu-content, .book-toc .book-toc-content {
  width : 20rem !important;
}
/* ================================================== */
/* FAQ */
.faq details {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  font-weight: 100;
  border-left: none;
  border-right: none;
  border-top: none;
}
.faq {
  color: #525969;
  border-color: #ECEDF0;
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out, 
  border-radius 0.15s ease;
}
.faq summary {
  font-weight: 100;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  }

.faq summary i {
  transition: transform 0.5s ease;
  font-size: 16px;
}

.faq details[open] summary i {
  transform: rotate(180deg);
}

.faq p {
  padding-left: 20px;
  margin: 0;
  padding: 10px 0;
  color: #666;
  font-size: 16px;
}

/* ================================================== */
/* Onglets (Tabs) */
.tabs {
  display: flex;
  flex-direction: column;
}

.tab input[type="radio"] {
  display: none;
}

.tab label {
  padding: 10px;
  background-color: #3760ea;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tab-content {
  padding: 20px;
  border: 1px solid #3760ea;
  border-radius: 0 5px 5px 5px;
  background-color: #f9f9f9;
}

/* ================================================== */
/* Chronologie Timeline*/
.timeline {
  position: relative;
  margin: 20px 0;
  padding: 10px 0;
  border-left: 4px solid #3760ea;
}

.timeline-item {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
}

.timeline-item h3 {
  color: #3760ea;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  background-color: #3760ea;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* ================================================== */
/* Glossaire */
.glossary {
  margin: 20px 0;
  padding: 10px;
  background-color: #e7edff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.glossary h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 15px;
}

.glossary dt {
  font-weight: bold;
  margin-top: 10px;
}

.glossary dd {
  margin-left: 20px;
  margin-bottom: 10px;
}
/* ================================================== */
/* Footer */
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info-block {
  display: flex;
  align-items: center;
}

.info-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.social-link, .social-link:visited {
  color: black;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-link:hover {
  color: #007bff; /* Couleur au survol */
}

.footer-text {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
}
.book-languages label {
  align-items: center;
}

.anchor {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0; /* Changez cette couleur selon vos besoins */
  border-bottom: 1px solid #ddd; /* Optionnel : pour une séparation visuelle */
}

.top-bar > * {
  margin: 0 10px; /* Espacement entre les éléments */
}


.book-languages li label a {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.book-brand img {
  height: 2em;
  width:auto;
  border-radius: 0;
  margin : 0px !important;
}
.navbar {
  background-color: #3760ea ;
}

.navbar>.container, .navbar>.container-fluid {
  display: flex;
  -ms-flex-wrap: wrap ;
  flex-wrap: nowrap !important ;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-pack: justify  !important;
  justify-content: space-around !important;
}

.navbar .form-control {
  max-width: 200px; /* Ajuste cette valeur selon tes besoins */
  transition: all 0.3s ease; /* Ajoute une transition pour rendre l'animation plus fluide */
}
.form-control {
  flex-shrink: 1;
}
#book-search-results {
  position: absolute;
  background-color: #ffffff; /* Couleur de fond blanc */
  border: 1px solid #ddd; /* Bordure fine */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour l'effet */
  z-index: 1; /* Pour s'assurer que l'encart soit au-dessus des autres éléments */
  max-height: 200px; /* Hauteur maximale pour l'encart */
  overflow-y: auto; /* Barre de défilement si les résultats dépassent la hauteur */
  padding: 0%;
  display: none;
}
#book-search-results:active , #book-search-results:focus,  #book-search-results:focus-visible {
  display: block;
}
#book-search-results li {
  padding: 8px 12px; /* Espacement interne des résultats */
  cursor: pointer; /* Change le curseur pour montrer que c'est cliquable */
  list-style: none;
}

#book-search-results li:hover {
  background-color: #f1f1f1; /* Surligne le résultat au survol */
}
.book-search input {
  border: 1px solid #D0D3DA;
  border-radius: var(--Radius-s);
}
.book-search input:hover {
  box-shadow: 0px 1px 26px 0px #0000005f !important;

}
/* Styles supplémentaires pour rendre la navigation responsive */
@media (max-width: 768px) {
  .navbar>.container, .navbar>.container-fluid {
    flex-wrap: wrap !important; /* Permet à la navigation de se plier en mode colonne */
    justify-content: center !important; /* Centre le contenu */
  }
  
  .navbar .form-control {
    max-width: 100%; /* Utilise toute la largeur disponible */
    margin-top: 0.5rem; /* Ajoute un espacement au-dessus pour séparer du reste */
  }
  
  .navbar-brand {
    width: 100%; /* Prend toute la largeur */
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem; /* Ajoute un espace en bas */
  }

  .d-flex {
    width: 100%; /* Utilise toute la largeur disponible */
    justify-content: center; /* Centre le formulaire */
  }
}




.Objectif {
  margin-top: 20px;
  padding: 15px;
  border-left: 5px solid #3760EA;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 100%;
}

.Objectif strong {
  font-size: 1.2em;
  color: #333; /* Couleur du texte pour le titre */
  display: block;
  margin-bottom: 10px;
}

.Objectif ul {
  list-style-type: disc; /* Style des puces */
  padding-left: 20px;
}

.Objectif li {
  content: '•'; /* Puce personnalisée */
  margin-bottom: 5px;
  font-style: italic; /* Texte en italique */
  color: #555; /* Couleur du texte pour les items */
}
