

@font-face {
    font-family: "Varela Round";
    src: url("/assets/theme_font/VarelaRound-Regular.ttf") format("truetype")
}

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}